@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #fafafa;
	--foreground: #000;
}

@theme inline {
	--spacing-header-height: 4rem;
	--spacing-mob-header-height: 4rem;
	--text-md: 1rem;

	--color-br-white: #fafafa;
	--color-br-black: #121216;
	--color-br-gray-800: #2b2d31;
	--color-br-gray-600: #46474d;
	--color-br-gray-500: #63656e;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--shadow-flat-sm: 2px 8px 0 #00000028;
	--shadow-flat-lg: 4px 16px 0 #00000028;

	--animate-fade-in-200: fade-in 200ms ease-out forwards;
	--animate-fade-out-200: fade-out 200ms ease-out forwards;

	@keyframes fade-in {
		from {
			opacity: 0
		}

		to {
			opacity: 1
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1
		}

		to {
			opacity: 0
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #fafafa;
		--foreground: #000;
	}
}

body {
	background: var(--background);
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

@layer {
	.rb {
		@apply border border-red-500;
	}

	.bb {
		@apply border border-blue-600;
	}

	.gb {
		@apply border border-green-600;
	}

	.hover-animated-underline {
		@apply after:content-[''] after:w-0 hover:after:w-[90%] after:duration-200 after:ease-out after:h-[2px] after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:bg-black;
	}

	.text-my-sm {
		@apply text-sm md:text-sm xl:text-md;
	}

	.text-my-md {
		@apply text-sm md:text-md xl:text-lg;
	}

	.text-my-lg {
		@apply text-md md:text-lg xl:text-xl;
	}

	.text-myf-lg {
		@apply text-md md:text-lg xl:text-lg;
	}

	.text-my-xl {
		@apply text-lg md:text-xl xl:text-2xl;
	}

	.text-my-2xl {
		@apply text-xl md:text-2xl xl:text-3xl;
	}

	.gap-my-md {
		@apply gap-4 md:gap-8 xl:gap-12;
	}

	.gap-my-lg {
		@apply gap-8 md:gap-16 xl:gap-16;
	}

	.hover-shadow-lg {
		@apply lg:hover:shadow-[8px_16px_0px_#0001];
	}

	.hover-shadow-sm {
		@apply lg:hover:shadow-[2px_8px_0px_#0002];
	}

	.header-padding {
		@apply pt-mob-header-height lg:pt-header-height;
	}

	.aspect-og {
		@apply aspect-[40/21];
	}

	.no-padding {
		@apply absolute w-0.5 h-0.5 m-[-1px] p-0 border-[0] overflow-hidden [clip:rect(0_0_0_0)] [clip-path:inset(50%)] whitespace-nowrap;
	}
}