@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #fafafa;
	--foreground: #000;
}

@theme inline {
	--spacing-header-height: 4rem;
	--spacing-mob-header-height: 4rem;
	--text-md: 1rem;

	--color-br-white: #fafafa;
	--color-br-black: #020206;
	--color-br-gray-900: #1F2024;
	--color-br-gray-800: #2b2d31;
	--color-br-gray-600: #46474d;
	--color-br-gray-500: #63656e;
	--color-br-orange-main: #ff6900;
	--color-br-orange-main-desat: #e0803a;
	--color-br-orange-main-desatter: #c7895d;
	--color-br-orange-500: #ff8129;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-whatsapp-600: #25d366;
	--color-whatsapp-500: #21B85A;
	--color-whatsapp-400: #16AB4E;

	--font-serif: var(--font-serif);

	--shadow-flat-sm: 2px 8px 0 #00000028;
	--shadow-flat-lg: 4px 16px 0 #00000028;

	--animate-fade-in-200: fade-in 200ms ease-out forwards;
	--animate-fade-in-right-600: fade-in-right 600ms ease-out forwards;
	--animate-fade-in-right-800: fade-in-right 600ms ease-out 200ms forwards;
	--animate-fade-in-right-1000: fade-in-right 600ms ease-out 400ms forwards;
	--animate-fade-in-up-1200: fade-in-up 600ms ease-out 600ms forwards;
	--animate-fade-in-left-slow: fade-in-left 1200ms ease-out forwards;
	--animate-fade-out-200: fade-out 200ms ease-out forwards;

	--animate-spin-loop: spin 1600ms ease-in-out infinite;

	@keyframes fade-in {
		from {
			opacity: 0
		}

		to {
			opacity: 1
		}
	}

	@keyframes fade-in-right {
		from {
			opacity: 0;
			transform: translateX(-32px);
		}

		to {
			opacity: 1;
			transform: translateX(0)
		}
	}

	@keyframes fade-in-left {
		from {
			opacity: 0;
			transform: translateX(32px);
		}

		to {
			opacity: 1;
			transform: translateX(0)
		}
	}

	@keyframes fade-in-up {
		from {
			opacity: 0;
			transform: translateY(16px);
		}

		to {
			opacity: 1;
			transform: translateY(0)
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1
		}

		to {
			opacity: 0
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(180deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #fafafa;
		--foreground: #000;
	}
}

body {
	background: var(--background);
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

a {
	cursor: pointer;
}

@layer {
	.rb {
		@apply border border-red-500;
	}

	.bb {
		@apply border border-blue-600;
	}

	.gb {
		@apply border border-green-600;
	}

	.hover-animated-underline {
		@apply after:content-[''] after:w-0 hover:after:w-[90%] after:duration-200 after:ease-out after:h-[2px] after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-black dark:after:bg-br-white;
	}

	.text-my-sm {
		@apply text-sm md:text-sm xl:text-md;
	}

	.text-my-md {
		@apply text-md md:text-md xl:text-lg;
	}

	.text-my-lg {
		@apply text-md md:text-lg xl:text-xl;
	}

	.text-myf-lg {
		@apply text-md md:text-lg xl:text-lg;
	}

	.text-my-xl {
		@apply text-lg md:text-xl xl:text-2xl;
	}

	.text-my-2xl {
		@apply text-xl md:text-2xl xl:text-3xl;
	}

	.text-most-h2 {
		@apply text-3xl md:text-5xl;
	}

	.text-main {
		@apply text-black;

		@variant dark {
			@apply text-br-white;
		}
	}

	.text-secondary {
		@apply text-gray-600;

		@variant dark {
			@apply text-gray-300;
		}
	}

	.text-gray-title {
		@apply text-br-gray-600;

		@variant dark {
			@apply text-gray-300;
		}
	}

	.text-faint {
		@apply text-gray-400;

		@variant dark {
			@apply text-br-gray-600;
		}
	}
	
	.bg-main {
		@apply bg-br-white;

		@variant dark {
			@apply bg-br-black;
		}
	}
	
	.bg-secondary {
		@apply bg-gray-200;

		@variant dark {
			@apply bg-br-gray-800;
		}
	}

	.gap-my-md {
		@apply gap-4 md:gap-8 xl:gap-12;
	}

	.gap-my-lg {
		@apply gap-8 md:gap-16 xl:gap-16;
	}

	.hover-shadow-lg {
		@apply lg:hover:shadow-[8px_16px_0px_#0001];
	}

	.hover-shadow-sm {
		@apply lg:hover:shadow-[2px_8px_0px_#0002];
	}

	.header-padding {
		@apply pt-mob-header-height lg:pt-header-height;
	}

	.aspect-og {
		@apply aspect-[40/21];
	}

	.no-padding {
		@apply absolute w-0.5 h-0.5 m-[-1px] p-0 border-[0] overflow-hidden [clip:rect(0_0_0_0)] [clip-path:inset(50%)] whitespace-nowrap;
	}

	.shadow-header {
		@apply shadow-[0_4px_8px_#00000018] dark:shadow-[0_4px_8px_#ccccff18];
	}

	.shadow-img {
		@apply shadow-[8px_8px_20px_0_#00000030];

		@variant dark {
			@apply shadow-none;
		}
	}

	.shadow-img-sm {
		@apply shadow-[4px_4px_16px_0_#00000018];

		@variant dark {
			@apply shadow-none;
		}
	}

	.shadow-img-lg {
		@apply shadow-[4px_8px_20px_2px_#00000028];

		@variant dark {
			@apply shadow-none;
		}
	}
}

.clip-arrow {
	clip-path: url('#down-arrow');
}

@property --scroll-fill-threshold {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.scroll-fill {
	background: linear-gradient(
		180deg,
		var(--color-br-orange-main),
		var(--color-br-orange-main) var(--scroll-fill-threshold),
		black,
		black var(--scroll-fill-threshold)
	);
	animation: scroll-fill ease-in-out both;
	animation-timeline: view();
	animation-range: entry 20% entry 200%;
}

@keyframes scroll-fill {
	from {
		--scroll-fill-threshold: 0%
	}

	to {
		--scroll-fill-threshold: 100%
	}
}

.scroll-reveal-right {
	animation: scroll-reveal-right ease-in-out both;
	animation-timeline: view();
	animation-range: entry 0% entry 100%;
}

@keyframes scroll-reveal-right {
	from {
		transform: translateX(-25%);
	}

	to {
		transform: translateX(0);
	}
}